doctype html
html
    head
        title "frame"
        style.
          body{
              cursor: default;}
    body
        div "frame"

        script.
            document.getElementsByTagName('div')[0].innerHTML = window.name